.title {
  font-size: 36px;
}

#barnav {
  font-size: 35px;
  background-image: url('assets/banner.png'); /* Aquí coloca la ruta de tu imagen */
  background-size: cover; /* Esto hará que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  padding: 10px; /* Agrega un padding para que el contenido no esté pegado a los bordes */
  display: flex;
  align-items: center;
  list-style: none;
}

#barnav li {
  list-style-type: none;
  text-align: center;
  padding: 5px;
  display: inline-block;
  color: white;
}

#barnav a {
  text-decoration: none;
  color: white;
}

.nav {
  font-size: 36px;
}

.img {
  align-items: center;
}

.Gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Distribuye las cartas de manera adaptable */
  gap: 20px; /* Espacio entre cartas */
  padding: 20px;
}

.main-container {
  display: flex;
  align-items: center;
  max-height: 250px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  padding: 10px;
}

.img-container {
  flex: 1;
  min-width: 70px;
  min-height: 70px;
  max-width: 40%;
  height: 100%;
}

.img-container img {
  width: 80%;
  height: 90%;
  object-fit: cover;
}

.content {
  flex: 2;
  padding: 10px;
}

.title h2, .description p, .price h3 {
  margin: 5px 0;
}

.add {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add button:hover {
  background-color: #45a049;
}

.cart-container {
  position: relative;
}

.cart-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%; /* Muestra el contenido justo debajo del carrito */
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.cart-container:hover .cart-dropdown {
  display: block; /* Muestra el dropdown al pasar el mouse */
}



/* Estilos para el mensaje "Carrito vacío" */
.cart-dropdown p {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-weight: bold;
}

/* Estilos para la tabla */
.cart-dropdown table {
  width: 100%; /* Hace que la tabla use todo el ancho del contenedor */
  border-collapse: collapse; /* Elimina espacios entre las celdas */
  margin-top: 10px;
}

.cart-dropdown th, .cart-dropdown td {
  font-size: 9px;
  border: 1px solid #ccc; /* Bordes de la tabla */
  padding: 5px; /* Espaciado dentro de las celdas */
  text-align: center; /* Centra el texto en las celdas */
}

.cart-dropdown th {
  background-color: #f2f2f2; /* Color de fondo para el encabezado */
}

/* Botón para vaciar el carrito */
.add button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add button:hover {
  background-color: #45a049;
}
